@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(233, 19, 19);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(113, 21, 0);  /* creates padding around scroll thumb */
  }

body{
    background-color: rgb(23, 23, 23);
}

.caixa{
    position: relative;
    display: inline-block;
}

.caixa h1 {
    position: absolute;
    top: 400px;
    right: 780px;
    font-size: 150px;
    color: white;
    font-family: 'Playfair Display', serif;
}

.titulo{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: aliceblue;
}

.card{
    margin-right: 76px;
    margin-left: 76px;
}

.caixas{
    margin-bottom: 50px;
}
