@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-color: rgb(54, 54, 54);
}

.caixa{
    position: relative;
    display: inline-block;
}

.caixa h1 {
    position: absolute;
    top: 400px;
    right: 780px;
    font-size: 100px;
    color: white;
    font-family: 'Playfair Display', serif;
}

.titulo{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: aliceblue;
}

.card{
    margin-right: 76px;
    margin-left: 76px;
}

.caixas{
    margin-bottom: 50px;
}
